.app {
  flex: 1;
  max-width: 600px;
  width: 100%;
  overflow: auto;
  /* scrollbar-width: none; */
  padding: var(--sapce-xl);
  margin: 0 auto;
}

@media (max-width: 800px) {
  .app {
    padding: var(--sapce-lg);
  }
}
