* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #f4f4f4; */
  background-color: #000;
  color: #333;
  padding: 2rem;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

button {
  background-color: #333974;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  padding: 5px 10px;
}

button:hover {
  opacity: 1;
}

label, legend {
  font-weight: bold;
}

input, select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
}
