.filter {
  border-bottom: 1px solid #555;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.filterOptions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.filterOptions div {
  flex: 1 1 0;
}

.sortOptions {
  display: flex;
  gap: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
