.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-md);
}

.filter nav {
  display: flex;
  gap: var(--space-sm);
}

.filter button, .filter span {
  font-size: var(--font-size-sm);
}
