.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.filter nav {
  display: flex;
  gap: 0.5rem;
}

.filter button {
  font-size: 14px;
}

.filter span {
  font-size: 12px;
}
