.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: var(--radius-sm);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: var(--sapce-sm);
}

.todo p {
  overflow-wrap: break-word;
  min-width: 0;
}

.todoCompleted {
  text-decoration: line-through;
}

.actions {
  display: flex;
  gap: var(--sapce-sm);
}
