.todo {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.todoCompleted {
  text-decoration: line-through;
}

.buttons {
  display: flex;
  gap: 10px;
}
