.list {
  display: flex;
  flex-direction: column;
  gap: var(--sapce-md);
  margin-top: var(--sapce-md);
}

.list li {
  background-color: var(--color-secondary);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sapce-sm);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
