.footer {
  background-color: #000;
  color: #fff;
}

.nav {
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 0 auto;
}

.link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  opacity: 0.7;
}

.link:hover,
.active {
  opacity: 1;
}
