.app {
  max-width: 600px;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 2rem;
  margin: 0 auto;
}

/* fix: o estilo desse span escapa para outros */
.app span {
  display: block;
  text-align: right;
  font-size: 14px;
  /* margin-bottom: 1rem; */
}

/* fix: trocar o nome disso depois */
.testando {
  /* background-color: darkgreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .app {
    padding: 1.5rem;
  }
}
